<%- include('./partials/header') %>
</script>
<div class="container">
  <div class="welcome-section">
    <h1><%= message %></h1>
    <p>A time table to live by.</p>
    
    <% if (isAuthenticated) { %>
      <%- include('./partials/create-event') %>
    <% } else { %>
      <div class="action-buttons">
        <a href="/auth/login" class="btn primary-btn">Login</a>
        <a href="/auth/register" class="btn secondary-btn">Register</a>
      </div>
    <% } %>
  </div>
  
  <div class="features-section">
    <h2>Your Events</h2>
    <div class="feature-grid">
      <script>
        // finds the div this code resides in
        let currentDiv = document.getElementsByClassName("feature-grid")[0];
        // get request to user/events 
        fetch('user/events')
          // jsonify the response
          .then(response => response.json())
          /*
          * This code block takes each JSON object representing the task of a user
          * and constructs a 'feature-card' div to display on the users home page 
          */
          .then(events => {
            events.forEach((event) => {
              // create card div
              let newDiv = document.createElement("div");
              newDiv.classList.add("feature-card");
              // create title header
              let title = document.createElement("h3");
              title.textContent = event.title;
              newDiv.appendChild(title);
              newDiv.appendChild(document.createElement("br"));
              // description
              newDiv.appendChild(document.createTextNode(event.description));
              newDiv.appendChild(document.createElement("br"));
              // take time stamp and slice time and leave only date
              newDiv.appendChild(document.createTextNode(event.dueDate.slice(0, 10)));
              currentDiv.appendChild(newDiv);
            });
          });
      </script>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>